@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
.section__title > span, .pd-box__title h3, .pd-box__more, .section2 .blog__name--title {
  font-family: 'cwTeXYen';
  font-weight: 500;
  -webkit-transform: scaleY(1.06);
          transform: scaleY(1.06);
}

body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-stretch: expanded;
  line-height: 1;
}

.modal-open {
  overflow: initial !important;
}

div,
a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

.html > .container {
  max-width: 2560px !important;
}

.footer {
  display: none;
}

.InWeb .page-content {
  margin-bottom: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar.bg_white-alpha {
  background-color: rgba(255, 255, 255, 0.95);
}

.navbar > .container {
  max-width: 1300px;
}

.navbar-brand {
  max-width: 170px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-toggler .icon-bar {
  background-color: #fa9356 !important;
}

.navbar-nav .nav-item a {
  color: #fa9356 !important;
}

.menu-cart {
  color: #fa9356 !important;
}

@media (min-width: 1201px) {
  .html {
    padding-top: 96px;
  }
  .navbar {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 8px 45px;
  }
  .navbar.bg_white-alpha {
    padding: 0 45px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .navbar.bg_white-alpha .navbar-nav .nav-item a {
    font-size: 1.4rem;
  }
  .navbar.bg_white-alpha .navbar-brand {
    max-width: 160px;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 12px;
    padding-left: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navbar-nav .nav-item {
    padding: 0 12px;
  }
  .navbar-nav .nav-item:last-child {
    margin-left: auto;
    padding-right: 0;
  }
  .navbar-nav .nav-item a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#loading .center {
  opacity: 0.5;
}

.pace .pace-progress {
  background: #fc8f4e !important;
}

section.code {
  overflow-x: hidden;
}

/* loading動畫 */
.loading_mask {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 100%;
  background-color: #fff;
}

@media screen and (max-width: 767.98px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .mb {
    display: block;
  }
}

.website__top-bar {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.website__top-bar.bg_main-alpha {
  background-color: rgba(254, 238, 222, 0.95);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767.98px) {
  .website__top-bar {
    position: fixed;
    z-index: 20;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 10vw;
    margin-bottom: 0;
    list-style: none;
    background-color: #feeede;
  }
}

.website__top-bar a {
  display: block;
  color: #f05816;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-decoration: none;
}

@media screen and (max-width: 575.98px) {
  .website__top-bar a {
    font-size: 4vw;
  }
}

@media screen and (max-width: 767.98px) {
  .website__banner {
    padding-top: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .website__banner .swiper-button-next,
  .website__banner .swiper-button-prev {
    display: none;
  }
}

.website__banner .swiper-button-next {
  background-image: url("../img/banner_right-arrow.png");
}

.website__banner .swiper-button-prev {
  background-image: url("../img/banner_left-arrow.png");
}

@media screen and (max-width: 575.98px) {
  .website__banner .swiper-pagination-bullets {
    bottom: 0;
  }
}

.website__banner .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #fff;
  opacity: 0.8;
}

@media screen and (max-width: 575.98px) {
  .website__banner .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 4px;
  }
}

.website__banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #fa8d4c;
}

.website__banner .swiper-slide {
  display: block;
}

.website__banner .swiper-slide img {
  width: 100%;
}

.website__section {
  padding: 50px;
}

@media screen and (max-width: 991.98px) {
  .website__section {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .website__section {
    padding: 30px 10px;
  }
}

.website__section.section1 {
  background-color: #fff;
}

.website__section.section2 {
  background-color: #ffe8a9;
}

.website__section.section3 {
  background-color: #fff;
}

.website__section.section4 {
  background-color: #fff6e9;
}

.website__section.section5 {
  background-color: #fa9356;
}

.section__inner {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.section__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #f05816;
  line-height: 1;
  margin-bottom: 50px;
  position: relative;
}

.section__title:after {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 120%;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 5px dotted #ffc7a5;
}

.section2 .section__title:after {
  border-color: #fff;
}

.section__title > span {
  font-weight: 600;
}

.section__title > img {
  margin-right: 10px;
  max-width: 40px;
}

@media screen and (max-width: 767.98px) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .section__title:after {
    border-width: 3px;
    bottom: -8px;
  }
  .section__title > img {
    max-width: 30px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.98px) {
  .section__title {
    font-size: 1.75rem;
    margin-bottom: 25px;
  }
  .section__title > img {
    max-width: 25px;
    margin-right: 4px;
  }
}

.pd-box:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (max-width: 575.98px) {
  .pd-box:not(:last-child) {
    margin-bottom: 25px;
  }
}

.pd-box__title {
  padding: 15px 25px;
  border-radius: 30px 30px 0 0;
  background-color: #ffe88b;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .pd-box__title {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box__title {
    border-radius: 15px 15px 0 0;
  }
}

.pd-box__title:before {
  content: '';
  width: 174px;
}

@media screen and (max-width: 767.98px) {
  .pd-box__title:before {
    width: 113px;
  }
}

@media screen and (max-width: 767.98px) {
  .pd-box__title:before {
    width: 70px;
  }
}

.pd-box__title h3 {
  font-size: 2.6rem;
  color: #f6921c;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (max-width: 767.98px) {
  .pd-box__title h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box__title h3 {
    font-size: 1.3rem;
  }
}

.pd-box__more {
  color: #f05816;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 24px 2px;
  border-radius: 50px;
  background-color: #fff;
  line-height: 1.5;
  font-weight: 600;
}

@media screen and (max-width: 767.98px) {
  .pd-box__more {
    font-size: 1.25rem;
    padding: 2px 16px 0px;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box__more {
    font-size: 12px;
    padding: 4px 10px 2px;
  }
}

.pd-box__more:hover {
  color: #f05816;
  text-decoration: none;
}

.pd-box__more:hover:after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.pd-box__more:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent #f6921c;
}

@media screen and (max-width: 767.98px) {
  .pd-box__more:after {
    border-width: 10px 0 10px 16px;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box__more:after {
    border-width: 5px 0 5px 8px;
  }
}

.pd-box__content {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  padding: 25px 65px 15px;
  border: 5px solid #ffe88b;
  border-top: none;
}

@media screen and (max-width: 1400px) {
  .pd-box__content {
    padding: 15px 40px 10px;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box__content {
    padding: 10px 25px 5px;
    border-radius: 0 0 15px 15px;
    border-width: 3px;
  }
}

.pd-box__link {
  display: block;
  padding: 5px;
  color: inherit;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

@media screen and (max-width: 575.98px) {
  .pd-box__link {
    border-width: 2px;
  }
}

.pd-box__link:hover {
  color: inherit;
  text-decoration: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.pd-box__link:hover p {
  color: #f6921c;
}

.pd-box__link p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.4rem;
  line-height: 1.5;
}

@media screen and (max-width: 1400px) {
  .pd-box__link p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box__link p {
    font-size: 12px;
  }
}

.pd-box__link span {
  font-size: 1.75rem;
  line-height: 1.5;
  padding: 0 5px;
}

@media screen and (max-width: 1400px) {
  .pd-box__link span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767.98px) {
  .pd-box__link span {
    font-size: 1rem;
    padding: 0 2px;
  }
}

.pd-box__link span:first-child {
  color: #8e8e8e;
  text-decoration: line-through;
}

.pd-box__link span:last-child {
  color: #f05816;
}

.pd-box .swiper-container {
  padding-top: 6px;
}

.pd-box .swiper-next,
.pd-box .swiper-prev {
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.pd-box .swiper-next.swiper-button-disabled,
.pd-box .swiper-prev.swiper-button-disabled {
  opacity: 0.4;
}

@media screen and (max-width: 767.98px) {
  .pd-box .swiper-next,
  .pd-box .swiper-prev {
    display: block;
  }
}

@media screen and (max-width: 575.98px) {
  .pd-box .swiper-next,
  .pd-box .swiper-prev {
    max-width: 14px;
  }
}

.pd-box .swiper-next {
  left: auto;
  right: 1%;
}

.pd-box.green .pd-box__title {
  background-color: #aadc8e;
}

.pd-box.green .pd-box__title h3 {
  color: #327e08;
}

.pd-box.green .pd-box__content {
  border-color: #aadc8e;
}

.pd-box.green .pd-box__more {
  color: #338a06;
}

.pd-box.green .pd-box__more:hover {
  color: #338a06;
}

.pd-box.green .pd-box__more:after {
  border-color: transparent transparent transparent #44af09;
}

.pd-box.green .pd-box__link:hover p {
  color: #327e08;
}

.pd-box.purple .pd-box__title {
  background-color: #ffcccf;
}

.pd-box.purple .pd-box__title h3 {
  color: #e96068;
}

.pd-box.purple .pd-box__content {
  border-color: #ffcccf;
}

.pd-box.purple .pd-box__more {
  color: #e96068;
}

.pd-box.purple .pd-box__more:hover {
  color: #e96068;
}

.pd-box.purple .pd-box__more:after {
  border-color: transparent transparent transparent #e96068;
}

.pd-box.purple .pd-box__link:hover p {
  color: #e96068;
}

.pd-box4 .row {
  margin: 0 -6px;
}

.pd-box4 [class^='col'] {
  padding: 0 6px;
}

.pd-box4 [class^='col']:first-child {
  margin-bottom: 12px;
}

.pd-box4 a {
  display: block;
  background-color: #fff;
  overflow: hidden;
}

.pd-box4 a:hover img {
  opacity: 0.7;
}

.pd-box4 a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .section__inner {
  max-width: 1040px;
  padding: 0 50px;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .section2 .section__inner {
    padding: 0 10px;
  }
}

.section2 .blog__slider {
  padding: 20px 20px 0;
  background-color: #fff;
  border-radius: 20px;
}

@media screen and (max-width: 767.98px) {
  .section2 .blog__slider {
    padding: 15px 10px 0;
  }
}

.section2 .swiper-next,
.section2 .swiper-prev {
  position: absolute;
  top: 52%;
  left: 0;
}

.section2 .swiper-next img,
.section2 .swiper-prev img {
  max-width: 26px;
}

@media screen and (max-width: 767.98px) {
  .section2 .swiper-next,
  .section2 .swiper-prev {
    display: none;
  }
}

.section2 .swiper-next {
  left: auto;
  right: 0;
}

.section2 .swiper-container {
  padding-bottom: 40px;
}

@media screen and (max-width: 767.98px) {
  .section2 .swiper-container {
    padding-bottom: 35px;
  }
}

.section2 .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #ededed;
  opacity: 0.8;
}

@media screen and (max-width: 575.98px) {
  .section2 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 4px;
  }
}

.section2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #fa8d4c;
}

.section2 .blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .section2 .blog__top {
    margin-bottom: 10px;
  }
  .section2 .blog__top > div {
    width: 26%;
  }
}

.section2 .blog__name {
  margin-left: 15px;
  text-align: left;
  font-size: 2.5rem;
  color: #fc8f4e;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.4;
}

@media screen and (max-width: 767.98px) {
  .section2 .blog__name {
    font-size: 6vw;
  }
}

.section2 .blog__name--pd {
  font-size: 0.5em;
  font-weight: 400;
  display: inline-block;
  padding: 2px 12px;
  background-color: #fc8f4e;
  color: #fff;
  border-radius: 30px;
}

.section2 .blog__name--title {
  font-weight: 600;
  display: block;
}

.section2 .blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .section2 .blog__body {
    margin-bottom: 10px;
  }
  .section2 .blog__body [class^='col'] {
    padding: 0 6px;
  }
}

.section2 .blog__footer {
  padding: 0 15px;
}

@media screen and (max-width: 767.98px) {
  .section2 .blog__footer {
    padding: 0 6px;
  }
}

.section2 .blog__footer p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 15px;
  color: #666666;
}

@media screen and (max-width: 767.98px) {
  .section2 .blog__footer p {
    font-size: 1rem;
  }
}

.section2 .blog__footer a {
  display: inline-block;
  color: #fc8f4e;
  font-size: 1.2rem;
  position: relative;
}

.section2 .blog__footer a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #fc8f4e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .blog__footer a:hover {
  color: #fc8f4e;
  text-decoration: none;
}

.section2 .blog__footer a:hover:after {
  width: 100%;
}

.section2 .blog__footer a span {
  display: inline-block;
  margin-left: 5px;
}

@media screen and (max-width: 767.98px) {
  .section3 {
    padding-bottom: 10px;
  }
}

.section3 [class^='col'] {
  margin-bottom: 20px;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.section3 [class^='col']:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 575.98px) {
  .section4 {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 575.98px) {
  .section4 [class^='col'] {
    padding: 0 6px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575.98px) {
  .section4 [class^='col'] img {
    max-width: 100px;
  }
}

.section4 [class^='col'] p {
  color: #fa9356;
  font-size: 1.25rem;
}

.section4 [class^='col'] p span {
  font-size: 0.8em;
}

@media screen and (max-width: 575.98px) {
  .section4 [class^='col'] p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .section5 {
    padding: 15px 10px;
  }
}

.section5 .section__inner {
  max-width: 1600px;
}

@media screen and (max-width: 991.98px) {
  .section5 [class^='col'] {
    padding: 0 8px;
  }
}

.footer__logo {
  max-width: 120px;
  margin: 0 0 0 50%;
}

@media screen and (max-width: 991.98px) {
  .footer__logo {
    max-width: 110px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__logo {
    max-width: 60px;
  }
}

@media screen and (max-width: 575.98px) {
  .footer__logo {
    margin-right: 0;
    margin-left: auto;
  }
}

.footer__title {
  color: #fff0c6;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1;
}

@media screen and (max-width: 1400px) {
  .footer__title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 991.98px) {
  .footer__title {
    font-size: 1.2rem;
  }
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

@media screen and (max-width: 575.98px) {
  .footer__list {
    display: inline-block;
  }
}

.footer__list li {
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .footer__list li {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 991.98px) {
  .footer__list li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575.98px) {
  .footer__list li {
    margin-bottom: 5px;
  }
}

.footer__list a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.footer__list a:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 575.98px) {
  .text-md-center {
    text-align: center;
  }
}
/*# sourceMappingURL=all.css.map */