@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
body,
div,
span,
h1,
p,
a,
img,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: none !important;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 0 !important;
  -webkit-overflow-scrolling: touch;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-stretch: expanded;
  line-height: 1;
}

.modal-open {
  overflow: initial !important;
}

div,
a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

img {
  max-width: 100%;
}

section.code {
  overflow-x: hidden;
}

.html > .container {
  max-width: 2560px !important;
}

.html > .container .editor {
  max-width: 1140px !important;
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .html > .container .editor:nth-child(2) {
    padding-top: 40px;
  }
}

.single-main {
  max-width: 1340px;
  margin: 0 auto;
}

#website .footer {
  display: none;
}

.InWeb .page-content {
  margin-bottom: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar.bg_white-alpha {
  background-color: rgba(255, 255, 255, 0.95);
}

.navbar > .container {
  max-width: 1300px;
}

.navbar-brand {
  max-width: 170px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-toggler .icon-bar {
  background-color: #fa9356 !important;
}

.navbar-nav .nav-item a {
  color: #fa9356 !important;
}

.menu-cart {
  color: #fa9356 !important;
}

@media (min-width: 1201px) {
  .html {
    padding-top: 96px;
  }
  .navbar {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 8px 45px;
  }
  .navbar.bg_white-alpha {
    padding: 0 45px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .navbar.bg_white-alpha .navbar-nav .nav-item .nav-link {
    font-size: 1.4rem;
  }
  .navbar.bg_white-alpha .navbar-brand {
    max-width: 160px;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 12px;
    padding-left: 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navbar-nav .nav-item {
    padding: 0 12px;
  }
  .navbar-nav .nav-item:last-child {
    margin-left: auto;
    padding-right: 0;
  }
  .navbar-nav .nav-item a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#loading {
  background-color: #fff !important;
}

#loading .center {
  opacity: 0;
}

.pace .pace-progress {
  background: #fc8f4e !important;
}

.website__section {
  padding: 50px;
}

@media screen and (max-width: 991.98px) {
  .website__section {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .website__section {
    padding: 30px 10px;
  }
}

.website__section.section1 {
  background-color: #fff;
}

.website__section.section2 {
  background-color: #ffe8a9;
}

.website__section.section3 {
  background-color: #fff;
}

.website__section.section4 {
  background-color: #fff6e9;
}

.website__section.section5 {
  background-color: #fa9356;
}

.section__inner {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .section5 {
    padding: 1.25rem 0;
  }
}

.section5 .section__inner {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo {
  width: 20%;
  padding: 1% 6%;
}

.footer__aboutus {
  width: 20%;
}

@media screen and (max-width: 767.98px) {
  .footer__aboutus {
    border-top: 1px solid #fff;
  }
}

.footer__qa {
  width: 18%;
}

.footer__contactus {
  width: auto;
}

@media screen and (max-width: 767.98px) {
  .footer__collapse {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}

.footer__title {
  color: #fff0c6;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1;
  position: relative;
  margin-bottom: 10px;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1400px) {
  .footer__title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 991.98px) {
  .footer__title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__title {
    pointer-events: auto;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    margin-bottom: 0;
  }
}

.footer__title:active {
  -webkit-transition: 0s;
  transition: 0s;
  color: #fa9356;
  background-color: rgba(255, 255, 255, 0.7);
}

.footer__title--arrow {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__title--arrow.rotate {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.footer__list {
  padding: 0;
  margin: 0 0 15px;
  list-style: none;
  text-align: left;
}

@media screen and (max-width: 767.98px) {
  .footer__list {
    display: inline-block;
  }
}

.footer__list li {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #fff;
}

.footer__list li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 1400px) {
  .footer__list li {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 991.98px) {
  .footer__list li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__list li {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.footer__list a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.footer__list a:hover {
  color: #fff;
  text-decoration: none;
}

.footer__social {
  padding: 15px 0;
}

.footer__social a {
  display: inline-block;
  margin: 0 10px;
  max-width: 15%;
}

.footer__social a img {
  width: 25px;
}

.footer__pay {
  padding: 15px 0 5px;
}

.footer__pay a {
  display: inline-block;
  margin: 0 5px;
  max-width: 15%;
}

.footer__pay a img {
  width: 100%;
}

.footer__copyright {
  padding: 0 0 15px;
}

.footer__copyright img {
  max-width: 130px;
}

.footer__copyright p {
  font-size: 12px;
  color: #fff;
}
/*# sourceMappingURL=common.css.map */