//utils
@import 'init';
.pc {
  @include media($pad) {
    display: none;
  }
}
.mb {
  display: none;
  @include media($pad) {
    display: block;
  }
}
//1shop版頭 nav-bar footer
section.code {
  overflow-x: hidden;
}

.html > .container {
  max-width: 2560px !important;
  .editor {
    max-width: 1140px !important;
    margin: 0 auto;
    &:nth-child(2) {
      @include media($pad) {
        padding-top: 40px;
      }
    }
  }
}
.single-main {
  max-width: 1340px;
  margin: 0 auto;
}
#website .footer {
  display: none;
}

.InWeb .page-content {
  margin-bottom: 0;
  min-height: calc(100vh - 370px);
  overflow: hidden;
  @include media($pad) {
    min-height: 48vh;
  }
}

// loading & progress bar
#loading {
  background-color: #fff !important;
}
#loading .center {
  opacity: 0;
}
.pace .pace-progress {
  background: #fc8f4e !important;
}

// footer
.website__section {
  padding: 50px;
  @include media($padLg) {
    padding: 30px 20px;
  }
  @include media($mobile) {
    padding: 30px 10px;
  }
  &.section1 {
    background-color: #fff;
  }
  &.section2 {
    background-color: #ffe8a9;
  }
  &.section3 {
    background-color: #fff;
  }
  &.section4 {
    background-color: #fff6e9;
  }
  &.section5 {
    background-color: #fa9356;
  }
}
.section__inner {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

//section5
.section5 {
  @include media($pad) {
    padding: 1.25rem 0;
  }
  .section__inner {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      // border: 1px solid #000;
    }
  }
}
.footer__logo {
  width: 25%;
  padding: 1% 8%;
}

.footer__aboutus {
  width: 20%;
  @include media($pad) {
    border-top: 1px solid #fff;
  }
}
.footer__qa {
  width: 18%;
}
.footer__contactus {
  width: 30%;
}
.footer__collapse {
  @include media($pad) {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}
.footer__title {
  color: #fff0c6;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1;
  position: relative;
  margin-bottom: 10px;
  pointer-events: none;
  transition: 0.2s;
  @include media($laptop) {
    font-size: 1.4rem;
  }
  @include media($padLg) {
    font-size: 1.2rem;
  }
  @include media($pad) {
    pointer-events: auto;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    margin-bottom: 0;
  }
  &:active {
    transition: 0s;
    color: #fa9356;
    background-color: rgba(#fff, 0.7);
  }
  &--arrow {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    transition: 0.3s;
    &.rotate {
      transform: rotate(-135deg);
    }
  }
}
.footer__list {
  padding: 0;
  margin: 0 0 15px;
  list-style: none;
  text-align: left;
  @include media($pad) {
    display: inline-block;
  }
  li {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #fff;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    @include media($laptop) {
      font-size: 1.2rem;
    }
    @include media($padLg) {
      font-size: 1rem;
    }
    @include media($pad) {
      text-align: center;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
  a {
    color: #fff;
    transition: 0.3s;
    display: block;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.footer__social {
  padding: 15px 0;
  a {
    display: inline-block;
    margin: 0 10px;
    max-width: 15%;
    img {
      width: 25px;
    }
  }
}

.footer__pay {
  padding: 15px 0 5px;
  a {
    display: inline-block;
    margin: 0 5px;
    max-width: 15%;
    img {
      width: 100%;
    }
  }
}

.footer__copyright {
  padding: 0 0 15px;
  img {
    max-width: 130px;
  }
  p {
    font-size: 12px;
    color: #fff;
  }
}

//奇怪的分隔線
.page-content .sep {
  display: none;
}

//銷售頁page nav

.main {
  height: 1500px;
  background-color: #ccc;
}

#website-nav__container {
  padding: 5px 45px;
  position: relative;
  background-color: #fa9356;
  .website-nav {
    max-width: 1300px;
    margin: 0 auto;
  }
  .nav__btn {
    background-color: #fa9356;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 45px;
    height: 45px;
    z-index: 10;
    border-radius: 50%;
    display: none;
    padding: 10px 12px;
    box-sizing: border-box;
    display: none;
    box-shadow: 0 3px 5px rgba(#000, 0.15);
    @include media($pad) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 20px;
      &:nth-child(2) {
        width: 70%;
        align-self: flex-start;
      }
    }
  }

  .nav__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--logo {
      display: block;
      max-width: 150px;
    }
    &--list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        &.nav__section--logomb {
          display: none;
          a {
            max-width: 150px;
          }
        }
      }
      a {
        display: block;
        padding: 10px 5px;
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
        letter-spacing: 2px;
        position: relative;
        &:hover:after {
          width: 100%;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 1px;
          transition: 0.3s;
          background-color: #fff;
        }
      }
    }
    &--close {
      display: none;
    }
  }

  @include media($pad) {
    background-color: transparent;
    padding: 0;
    .nav__section {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      z-index: 100;
      padding-right: 65px;
      box-sizing: border-box;
      transition: 0.5s;
      transform: translateX(-100%);
      &.nav__section--show {
        transform: translateX(0);
      }
      &--logo {
        display: none;
      }
      &--list {
        box-sizing: border-box;
        margin: 0;
        min-height: 100%;
        width: 100%;
        background-color: #fff;
        border-top-right-radius: 22px;
        box-shadow: 5px 0 10px rgba(#000, 0.15);
        padding: 10px 30px 0 20px;
        li {
          display: block;
          border-bottom: 1px solid rgba(#000, 0.1);
          padding: 5px 0;
          &.nav__section--logomb {
            display: block;
          }
        }
        a {
          color: #fa9356;
          font-size: 1rem;
        }
      }
      &--close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        transition: 0.3s;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          width: 100%;
          height: 3px;
          border-radius: 20px;
          background-color: #fff;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          width: 100%;
          height: 3px;
          border-radius: 20px;
          background-color: #fff;
        }
      }
    }
  }
}
body {
  @include media($pad) {
    &.nav--open {
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5;
        z-index: 50;
        background-color: rgba(#000, 0.7);
      }
    }
  }
}

.check-privacy {
  color: #999;
  font-size: 1rem;
  letter-spacing: 1px;
  a {
    color: #fa9356;
    text-decoration: none;
  }
}
