//1shop 後台 / 版面 / 自訂

.html > .container {
  max-width: 2560px !important;
}
.footer {
  display: none;
}
.InWeb .page-content {
  margin-bottom: 0;
}

//navabar
.navbar {
  position: fixed;
  width: 100%;
  transition: 0.3s;
  &.bg_white-alpha {
    background-color: rgba(#fff, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.navbar > .container {
  max-width: 1300px;
}
.navbar-brand {
  max-width: 170px;
  transition: 0.3s;
  &.bg_white-alpha {
    max-width: 150px;
  }
}
.navbar-toggler .icon-bar {
  background-color: #fa9356 !important;
}
.navbar-nav .nav-item a {
  color: #fa9356 !important;
}
.menu-cart {
  color: #fa9356 !important;
}

@media (min-width: 1201px) {
  .html {
    padding-top: 96px;
  }
  .navbar {
    box-shadow: none;
    padding: 8px 45px;
    &.bg_white-alpha {
      padding: 0 45px;
    }
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 12px;
    padding-left: 30px;
    transition: 0.3s;
    .nav-item {
      &:last-child {
        margin-left: auto;
      }
      padding: 0 12px;
      a {
        font-size: 1.5rem;
      }
    }
    &.bg_white-alpha {
      padding-left: 20px;
      .nav-item a {
        font-size: 1.3rem;
      }
    }
  }
}
@media screen and (max-width: 767.98px) {
  .navbar {
    box-shadow: none;
  }
}

// loading & progress bar
#loading .center {
  opacity: 0.5;
}
.pace .pace-progress {
  background: #fc8f4e !important;
}
